# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
# Replace the value below with your actual MongoDB connection string (e.g. MongoDB Atlas)
# MONGODB_URI=mongodb://127.0.0.1:27017/koreanza
MONGODB_URI=mongodb+srv://matifkhan6038_db_user:ITRlalvLfutFSiuA@cluster0.ye2i1l4.mongodb.net/korenza-bakend-main?appName=Cluster0

# JWT Secret (If authentication added later)
JWT_SECRET=han87654321
